<section class="doc"><div class="container"><section class="row"><div class="col-md-12"><h1>Latest release : Gatling 2.1.4</h1><p><a class="lead" href="http://goo.gl/o14jQg">Gatling bundle (zip)</a></p><span class="lead">Using Maven :</span><div class="highlight-container"><!-- @formatter:on --><pre> <code class="xml">
&lt;dependency&gt;
    &lt;groupId&gt;io.gatling.highcharts&lt;/groupId&gt;
    &lt;artifactId&gt;gatling-charts-highcharts&lt;/artifactId&gt;
    &lt;version&gt;2.1.4&lt;/version&gt;
&lt;/dependency&gt;
                            </code> </pre><!-- @formatter:off --></div><span class="lead">Using SBT:</span><div class="highlight-container"><!-- @formatter:on --><pre>
                               <code class="scala">
libraryDependencies += "io.gatling.highcharts" % "gatling-charts-highcharts" % "2.1.4"
                               </code> </pre><!-- @formatter:off --></div><h1>Latest snapshot</h1><p class="lead">Snapshots are available in <a href="https://oss.sonatype.org/content/repositories/snapshots/">Sonatype OSS Snapshots repository</a></p><p class="lead"><a href="https://oss.sonatype.org/content/repositories/snapshots/io/gatling/highcharts/gatling-charts-highcharts-bundle/2.2.0-SNAPSHOT/">Gatling bundle (.zip)</a></p><hr></div></section></div></section><script>$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});</script>