<section class="doc"><div class="container"><section class="row"><div class="col-md-12"><h1>Stable release : {{ version }}</h1><h2>Zip bundle</h2><p>Download <a href="https://repo1.maven.org/maven2/io/gatling/highcharts/gatling-charts-highcharts-bundle/2.2.0/gatling-charts-highcharts-bundle-2.2.0-bundle.zip">here</a></p><h2>Maven artifacts</h2><p>Deployed on <a href="http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22io.gatling%22">Maven Central</a></p><h3>Using Maven</h3><div class="highlight-container"><!-- @formatter:on --><pre><code class="xml">
&lt;dependency&gt;
    &lt;groupId&gt;io.gatling.highcharts&lt;/groupId&gt;
    &lt;artifactId&gt;gatling-charts-highcharts&lt;/artifactId&gt;
    &lt;version&gt;{{ version }}&lt;/version&gt;
&lt;/dependency&gt;
          </code></pre><!-- @formatter:off --></div><h3>Using SBT</h3><div class="highlight-container"><pre><code class="scala">
libraryDependencies += "io.gatling.highcharts" % "gatling-charts-highcharts" % "{{ version }}"
          </code></pre></div><h1>Latest Snapshot : 2.3.0-SNAPSHOT</h1><h2>Zip bundle</h2><p>Download <a href="https://oss.sonatype.org/content/repositories/snapshots/io/gatling/highcharts/gatling-charts-highcharts-bundle/2.3.0-SNAPSHOT/">here</a></p><h2>Maven artifacts</h2><p>Deployed on <a href="https://oss.sonatype.org/content/repositories/snapshots/">Sonatype OSS Snapshots repository</a></p><h3>Using Maven</h3><div class="highlight-container"><!-- @formatter:on --><pre><code class="xml">
&lt;dependency&gt;
    &lt;groupId&gt;io.gatling.highcharts&lt;/groupId&gt;
    &lt;artifactId&gt;gatling-charts-highcharts&lt;/artifactId&gt;
    &lt;version&gt;2.3.0-SNAPSHOT&lt;/version&gt;
&lt;/dependency&gt;
          </code></pre><!-- @formatter:off --></div><h3>Using SBT</h3><div class="highlight-container"><pre><code class="scala">
libraryDependencies += "io.gatling.highcharts" % "gatling-charts-highcharts" % "2.3.0-SNAPSHOT"
          </code></pre></div></div></section></div></section><script>$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});</script>