<!--
Copyright © 2014 by eBusiness Information
All rights reserved. This source code or any portion thereof
may not be reproduced or used in any manner whatsoever
without the express written permission of eBusiness Information.
--><div ng-if="showLegals" class="modal-legals" ng-click="toggleLegals(true)" ng-class="{'opened' : showLegals}"><div class="modal-legals-container"><div class="modal-legals-box" ng-click="toggleLegals(false)"><div class="modal-close">&times;</div><h3>Legals</h3><p translate="LEGAL_CONTENT"></p></div></div></div><footer id="footer"><section class="row-fluid"><div class="legals-copyrights"><div class="legals" ng-click="toggleLegals(true)" translate="LEGAL_TITLE"></div>&nbsp;-&nbsp;<div class="text-center">&copy;2015 Gatling Corp 2000-2015</div></div></section></footer>