<!--
Copyright © 2014 by eBusiness Information
All rights reserved. This source code or any portion thereof
may not be reproduced or used in any manner whatsoever
without the express written permission of eBusiness Information.
--><footer id="footer"><header class="row-fluid"><div class="content-wrapper text-center">Gatling is an open-source load testing framework based on <strong>Scala</strong>, <strong>Akka</strong> and <strong>Netty</strong></div></header><section class="row-fluid"><div class="content-wrapper text-center">&copy;2015 eBusiness Information 2000-2015</div></section></footer>