<!-- TITLE SECTION -->
<section id="title">
  <div class="content-wrapper">
    <div class="title-content">
      <img src="/images/gatling-nb.png" alt="Gatling">
      <strong>is an open source load testing framework based on
      Scala, Akka and Netty</strong>
    </div>

    <div class="col-xs-7">
      <div class="row-fluid">
        <i class="glyphicon glyphicon-stats"></i>&nbsp;
        <strong>High performance</strong>
      </div>
      <div class="row-fluid">
        <i class="glyphicon glyphicon-eye-open"></i>&nbsp;
        <strong>Ready-to-present HTTP reports</strong>
      </div>
      <div class="row-fluid">
        <i class="glyphicon glyphicon-record"></i>&nbsp;
        <strong>Scenario recorder and developer-friendly DSL</strong>
      </div>
      <hr/>
      <div class="row-fluid text-center">
        <span class="h3">"Arm yourself for performance"</span>
      </div>
    </div>
    <div class="col-xs-5">
      <img src="/images/img1.png" alt="Gatling">
    </div>
  </div>
</section>

<!-- PROFESSIONAL SERVICES SECTION LINK -->
<section id="improve">
  <div class="content-wrapper">
    <a href="#/services">Boost&nbsp;your&nbsp;business with&nbsp;our&nbsp;professional&nbsp;services</a>
  </div>
</section>

<!-- CAROUSEL SECTION -->
<section id="steps">
  <div class="container">
    <!-- CAROUSEL LINKS -->
    <div class="step">
      <div class="step-highlight step-{{carouselStep}}"></div>
      <div class="step-item clickable" ng-click="hardCarouselUpdate(0)">Record</div>
      <div class="step-item clickable" ng-click="hardCarouselUpdate(1)">Edit</div>
      <div class="step-item clickable" ng-click="hardCarouselUpdate(2)">Launch</div>
      <div class="step-item clickable" ng-click="hardCarouselUpdate(3)">Analyze</div>
    </div>

    <!-- CAROUSEL -->
    <div class="carousel-container">
      <div class="carousel-content transitionable" id="main-carousel">

        <!-- FIRST SLIDE : RECORD -->
        <div class="carousel-slide text-center" id="carousel-recorder" ng-include="'views/slides/record.html'"></div>

        <!-- SECOND SLIDE : EDIT -->
        <div class="carousel-slide" id="carousel-edit" ng-include="'views/slides/edit.html'"></div>

        <!-- THIRD SLIDE : LAUNCH -->
        <div class="carousel-slide text-center" id="carousel-launch" ng-include="'views/slides/launch.html'"></div>

        <!-- FORTH SLIDE : ANALYZE-->
        <div class="carousel-slide text-center" id="carousel-analyse" ng-include="'views/slides/analyze.html'"></div>

      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="carousel slide" data-ride="carousel">
  <header class="row-fluid">
    <h2>Users Stories</h2>
  </header>

  <section class="carousel-inner" role="listbox">

    <!-- KLM -->
    <section class="row-fluid testimonial item active">
      <div class="content-wrapper">
        <div class="col-xs-offset-2 col-xs-10">
          <blockquote>
            <p class="quote"><em>Gatling helps <strong>KLM</strong> to move from a project oriented to a <strong>continuous delivery organization</strong>.</em> <a href="#/stories/klm.html">See more.</a></p>
          </blockquote>
        </div>
      </div>
    </section>

    <!-- BBC -->
    <!--<section class="row-fluid testimonial item">-->
      <!--<div class="content-wrapper">-->
        <!--<div class="col-xs-2">-->
          <!--<a href="#/stories/bbc.html">-->
            <!--<img src="/images/logo-bbc.png" alt="BBC"/>-->
          <!--</a>-->
        <!--</div>-->

        <!--<div class="col-xs-10">-->
          <!--<blockquote>-->
            <!--<p class="quote"><em>Gatling helps <strong>BBC</strong> to move from a project oriented to a <strong>continuous delivery organization</strong>.</em> <a href="#/stories/klm.html">See more.</a></p>-->
          <!--</blockquote>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->
  </section>
</section>

<section id="logos">
  <header class="row-fluid">
    <h2>They use Gatling</h2>
  </header>
  <section class="first-row row-fluid">
    <div class="container">
      <!-- @formatter:off -->
      <div class="col-xs-offset-3 col-xs-2"><a href="http://www.ticketfly.com"><img src="/images/logo-ticketfly.png" alt="TICKET FLY"/></a></div>
      <div class="col-xs-2"><a href="http://www.gilt.com"><img src="/images/logo-gilt.png" alt="GILT"/></a></div>
      <div class="col-xs-2"><a href="http://www.abiquo.com"><img src="/images/logo-abiquo.png" alt="ABIQUO"/></a></div>
      <!-- @formatter:on -->
    </div>
  </section>
  <section class="row-fluid">
    <div class="container">
      <!-- @formatter:off -->
      <div class="col-xs-offset-2 col-xs-2"><a href="http://www.secutix.com"><img src="/images/logo-secutix.png" alt="SECUTIX"/></a></div>
      <div class="col-xs-2"><a href="http://www.ezakus.com"><img src="/images/logo-ezakus.png" alt="EZAKUS"/></a></div>
      <div class="col-xs-2"><a href="http://www.shutterfly.com"><img src="/images/logo-shutterfly.png" alt="SHUTTERFLY"/></a></div>
      <div class="col-xs-2"><a href="http://www.bouyguestelecom.fr"><img src="/images/logo-bouygues.png" alt="BOUYGUES TELECOM"/></a></div>
      <!-- @formatter:on -->
    </div>
  </section>
</section>

<section id="events">
  <div class="container">
    <div class="row">
      <div class="news col-xs-12 col-sm-6 col-sm-push-6">
        <h3>News</h3>

        <div class="date">14.04.2015</div>iso
        <div class="news-title">Gatling 2.1.5 is out!</div>

        <div class="date">28.01.2015</div>
        <div class="news-title">Gatling 2.1.4 is out!</div>

        <div class="date">12.01.2015</div>
        <div class="news-title">Gatling 2.1.3 is out!</div>

        <div class="date">01.01.2015</div>
        <div class="news-title">Gatling's team wishes you a happy new year!</div>

        <div class="date">22.12.2014</div>
        <div class="news-title"> Gatling 2.1.2 is out!</div>
      </div>

      <div class="twitter col-xs-12 col-sm-6 col-sm-pull-6">
        <a class="twitter-timeline"
           data-link-color="#cd6b00"
           href="https://twitter.com/GatlingTool"
           data-chrome="noborder"
           data-widget-id="352752299174686720">Tweets by @GatlingTool</a>
      </div>
    </div>
  </div>
</section>
