<!--
Copyright © 2014 by eBusiness Information
All rights reserved. This source code or any portion thereof
may not be reproduced or used in any manner whatsoever
without the express written permission of eBusiness Information.
--><div class="carousel-part"><div class="carousel-analyze-item top left"><div style="display: flex"><div style="margin: auto"><h3>Analyze</h3>Gatling designs clear, exhaustive, dynamic and colorful reports in order to save time and do more testing!<br>Zoom in, zoom out, point out performance issues! Try it now!</div></div></div><div class="carousel-analyze-item top right scalable"><img src="/images/report1.png"></div><div class="carousel-analyze-item bottom left scalable"><img src="/images/report2.png"></div><div class="carousel-analyze-item bottom right scalable"><img src="/images/report3.png"></div></div>