<!--
Copyright © 2014 by eBusiness Information
All rights reserved. This source code or any portion thereof
may not be reproduced or used in any manner whatsoever
without the express written permission of eBusiness Information.
--><div class="carousel-edit-content"><div class="carousel-edit-text"><h3 translate="HOME_CAROUSEL_EDIT"></h3><span translate="HOME_CAROUSEL_EDIT_CONTENT"></span></div><div class="carousel-code-item" ng-controller="CodeCtrl"><div class="code-container"><div class="line-numbers"><span ng-repeat="lineNum in getNbLine() track by $index">{{$index+1}}.<br></span></div><!-- @formatter:off --><pre>
                <code class="scala" id="scala-code">
class MySimulation extends Simulation {

  val conf = http.baseUrl("http://localhost")

  val scn = scenario("Gatling")
    .exec(http("index").get("/"))
    .during(10 minutes) {
      exec(
        http("json").get("/json")
        .check(jsonPath("$.id").saveAs("id"))
      )
    }

  setUp(scn.inject(atOnceUsers(5)))
    .protocols(conf)
}
                </code>
              </pre><!-- @formatter:on --></div></div></div>