<!--
Copyright © 2014 by eBusiness Information
All rights reserved. This source code or any portion thereof
may not be reproduced or used in any manner whatsoever
without the express written permission of eBusiness Information.
--><div class="carousel-launch-container"><div class="col-xs-6 carousel-launch-item"><div class="item-title" translate="HOME_CAROUSEL_LAUNCH_OS"></div>Linux :<div class="code-terminal terminal">gatling.sh</div><br>Windows :<div class="code-terminal terminal">gatling.bat</div></div><div class="col-xs-6 carousel-launch-item"><div class="item-title" translate="HOME_CAROUSEL_LAUNCH_BUILD_TOOL"></div>Maven :<div class="code-terminal maven">mvn gatling:execute</div><br>SBT :<div class="code-terminal sbt">sbt test</div></div><div class="col-xs-12 carousel-launch-item jenkins"><div class="item-title" translate="HOME_CAROUSEL_LAUNCH_CONTINUOUS_INTEGRATION"></div><img src="images/jenkins.png"></div></div>