<!--
Copyright © 2014 by eBusiness Information
All rights reserved. This source code or any portion thereof
may not be reproduced or used in any manner whatsoever
without the express written permission of eBusiness Information.
--><div class="carousel-part"><div class="recorder-container"><div class="recorder-content"><div class="text"><h3>Record</h3>With your own browser, create as many scenarios as you need!<br>With Gatling recorder, you will be able to simulate everything, even the user's thinking time!</div></div><div class="recorder-content"><img src="/images/recorder.png"></div></div></div>