<!--
Copyright © 2014 by eBusiness Information
All rights reserved. This source code or any portion thereof
may not be reproduced or used in any manner whatsoever
without the express written permission of eBusiness Information.
--><div class="carousel-part"><div class="recorder-container"><div class="recorder-content"><div class="text"><h3 translate="HOME_CAROUSEL_RECORD"></h3><span translate="HOME_CAROUSEL_RECORD_CONTENT"></span></div></div><div class="recorder-content"><img src="/images/recorder.png"></div></div></div>